.verao{
    background-color: orange;
    color: azure;
}

.outono{
    background-color: brown;
    color: aliceblue;
}

.inverno{
    background-color: gray;
    color: aliceblue;
}
.primavera{
    background-color: green;
    color: aliceblue;
}